<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模糊搜索案例</title></title>
    <script src="../../js/vue3.js"></script>
</head>
<body>
    <!--  方法1 用模板实现  -->
    <!-- <div id="root">
        <input type="text" v-model="mytext">
        <ul>
            <template v-for="item in datalist" :key="item">
                <li v-if="item.includes(mytext)">
                    {{item}}
                </li>
            </template>
        </ul> 
    </div> -->
 <!--  方法2 用js实现  -->
 <!-- <div id="root">
    <input type="text" v-model="mytext" @input="handleInput">
    <ul>
        <li v-for="item in datalist" :key="item">
                {{item}}
        </li>
    </ul> 
</div> -->

 <!--  方法3 用表达式实现，vue中{{}}里面和绑定的变量里面都可以放表达式        -->
 <div id="root">
    <input type="text" v-model="mytext" @input="handleInput">
    <ul>
        <li v-for="item in filt()" :key="item">
                {{item}}
        </li>
    </ul> 
</div>




    <script >

     var obj = {
         data(){
            return{
               datalist:["aaa","abb","aab","bcc","abc","bvd","add","acd"],
               baklist:["aaa","abb","aab","bcc","abc","bvd","add","acd"],
               mytext:""
            }},
         methods:{
            handleInput(){
               this.datalist = this.baklist.filter(item=>item.includes(this.mytext)) 
            },
            filt(){
                return this.datalist.filter(item=>item.includes(this.mytext))
            }

         }   


     }

     
    
    Vue.createApp(obj).mount("#root")
    </script>
</body>
</html>