<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <script src="../../js/vue3.js"></script>
</head>
<style>

    li{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid lightgray;
    }
    .img {
        width: 80px;
        height: 80px;

    }


</style>

<body>
    <div id="box">
        <ul>
            <li>
                <div>
                    <input type="checkbox" name="" id="" v-model="isChecked" @change="chk">
                    <span>全选/全不选</span>
                </div>
            </li>
            <template v-if="datalist.length">
                <li v-for="(item,index) in datalist "  :key="item.id">
                    <div>
                        <input type="checkbox" v-model="checklist" :value="item" @change="handleItemChange">
                    </div>
                    <div class="">
                        <image class="img" :src="item.poster"  />
                    </div>
                    <div>
                        {{item.price}}
                        {{item.title}}      
                    </div>
                    <div>
                        <button @click="item.number--"  :disabled="item.number===1">-</button>
                        {{item.number}}
                        <button @click="item.number++" :disabled="item.number===item.limit">+</button>
                    </div>
                     <div>
                        <button @click="handledel(index,item.id)">删除</button>
                     </div> 
                </li>
            </template>

            <li v-else>购物车空空如也!!</li>
            <li>
                <div>总金额：{{sum()}}</div>
            </li>
        </ul>
        <p>  bd : {{checklist}} </p>
    </div>
    <script>

       var obj = {
           data(){
               return {
                  checklist:[],
                  isChecked:false,
                  datalist:[
                     {
                        id:1,
                        title:"商品1" ,
                        price:10 ,
                        number:1,
                        poster:"../../imges/01.jpg",
                        limit:5
                     },
                     {
                        id:2,
                        title:"商品2" ,
                        price:20 ,
                        number:2,
                        poster:"../../imges/02.jpg",
                        limit:5
                     },
                     {
                        id:3,
                        title:"商品3" ,
                        price:30 ,
                        number:1,
                        poster:"../../imges/03.jpg",
                        limit:5
                     },                     
                  ]          

               }},
            methods:{
               sum(){
                //   var total = 0 ;
                //   for(var i = 0 ; i<this.checklist.length ; i++){
                //       total += this.checklist[i].price*this.checklist[i].number;  
                //   } 
                //   return total
                return  this.checklist.reduce((total,item)=>total+item.price*item.number,0)
               } ,
               handledel(index,id){
                //   console.log(index);

                  this.datalist.splice(index,1);
                  this.checklist = this.checklist.filter(item=>item.id!==id);
                  this.handleItemChange();
               },
               chk(){
                //   this.isChecked = !this.isChecked;
                //   if(!this.isChecked){
                //      this.checklist = []; 
                //   }else{
                //     this.checklist = this.datalist
                //   }
                this.checklist = this.isChecked?this.datalist:[]
               },
               handleItemChange(){
                if(this.datalist.length===0){
                    this.isChecked = false
                    return 
                  }
                this.isChecked = this.checklist.length===this.datalist.length
               } 

            }   
       } 

       Vue.createApp(obj).mount("#box") 




    </script>
</body>
</html>